.home_header{
    display:flex;
    justify-content: space-between;
    padding:20px 30px;
    align-items: center;
}
.home{
    display:flex;
    flex-direction: column;
    height:100vh;
   
}
.home_header a{
    margin-right: 20px;
    color:rgba(0,0,0,0.87);
    text-decoration: inherit;
    font-size:15px;

}
.home_header a:hover{
    text-decoration: underline;
}
.header_Right{
display:flex;
justify-content: space-between;
align-items: center;
min-width: 13vw;

}
.header_Right>.MuiSvgIcon-root{
    margin-right: 20px;
}
.home_Body>img{
    object-fit: contain;
    height:100px;
}
.home_Body{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}